.vs
Debug
Release
x64
__pycache__
*Moc.cpp
*.dll
*.lib
boost/bin.v2
boost/stage
boost/b2.exe
boost/project-config.jam
boost/tools/build/src/engine/*.obj
boost/tools/build/src/engine/*.exe
CodeSubWars/.vs
CodeSubWars/log
CodeSubWars/doc/html
CodeSubWars/records
CodeSubWars/x64
CodeSubWars/*.exe
CodeSubWars/*.exp
solid-3.5.4/lib
ARSTD/Lib
